/*************************************
    General Section
*************************************/

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    /* background-image: linear-gradient(rgba(25, 4, 59, 0.2), rgba(28, 4, 29, 0.2)); */
}

h1 {
    font-size: 4rem;
    /* color: rgba(24, 3, 61, 0.829); */
}

h2 {
    font-size: 3rem;
    color: rgba(24, 3, 61, 0.829);
}

h3 {
    font-size: 2rem;
    color: rgba(24, 3, 61, 0.829);
}

p, a {
    font-size: 1.2rem;
}

#hamburger {
    display: none;
}


/*************************************
    Header Section
*************************************/

header {
    /* background-color: #ecf5ff; */
    background-image: linear-gradient(rgba(25, 4, 59, 0.7), rgba(28, 4, 29, 0.7)), url("../images/codeInLaptop_resize_57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    font-family: 'Poppins', sans-serif;
    /* background-color: #ecf5ff; */
    width: 80%;
    margin: auto;
}

nav ul li a {
    transition: all 0.5s ease;
}

nav ul li a:hover {
    background-color: rgb(240, 80, 6);
    color: #ffffff;
    border-radius: 2rem;
    font-size: 1.4rem;
    padding: 1rem 3rem;
}

 .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: flex-end;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        left: 0;
        top: 10vh;
        height: 65vh;
        /* background-color: #ecf5ff; */
        background-image: linear-gradient(rgba(25, 4, 59, 0.8), rgba(28, 4, 29, 0.8));
        opacity: 0.9;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        color: #ffffff;
    }

    nav ul li a:hover {
        font-size: 1.6rem;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

/** This class will move it from -100% to 0. The -100 was set in the .nav-links **/

.nav-active {
    transform: translateX(0%);
}

/** This is the creation of the animation that will make the opacity visible i.e 1 and also translate it from the left(-50px) to the its original position again**/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/***These will makde the burger turn to an x by rotating it and translating it a bit ***/

.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleBurger .line2 {
    opacity: 0;
}

.toggleBurger .line3 {
    transform: rotate(45deg) translate(-3px, -6px);
}

#header-intro {
    /* background-color: #ecf5ff; */
    height: 60vh;
}

#intro-text {
    padding-top: 9rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#header-intro h1 {
    /* color: rgba(24, 3, 61, 0.829); */
    color: white;
    text-align: center;
}

#header-intro h3 {
    /* margin-left: 29.7%; */
    text-align: center;
    margin-top: 1rem;
}

#objectives {
    /* margin-left: 29.7%; */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #ffffff;
    overflow: hidden; 
    border-right: .15em solid orange; 
    margin: 0 auto; 
    letter-spacing: .15em;
    /* animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

#cv-and-contact {
    display: flex;
    justify-content: space-between;
    width: 23%;
    margin: 0 auto;
    margin-top: 4rem;
}

#cv-and-contact a {
    /* color: rgba(24, 3, 61, 0.829); */
    color: #ffffff;
    border: 0.1rem solid rgb(240, 80, 6);
    background-color: transparent;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 1.9rem;
    margin-right: 1rem;
}

#cv-and-contact a:hover {
    background-color: rgb(240, 80, 6);
    color: #ffffff;
    border-radius: 2rem;
    font-weight: 600;
    padding: 1rem 1.9rem;
}




/*************************************
    Profile Section
*************************************/

#about {
    text-align: center;
    margin: 9rem;
}

#about h3 {
    color: rgba(24, 3, 61, 0.829);
}

#about-me-underline {
    width: 5%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 2.5rem;
}

#about p {
    font-size: 1.5rem;
    /* width: 80%; */
    letter-spacing: 0.2rem;
    line-height: 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.bio-data {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

#profile img {
    width: 30%;
    /* height: 17%; */
    /* border-radius: 50%; */
    border: 0.3rem solid rgb(240, 80, 6);
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    /* margin-left: 42%; */
}

#bio-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.8rem;
}

#bio-data h3 {
    margin-bottom: 1.5rem;
}

#bio-data-underline {
    width: 60%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 2.5rem;
    margin-top: -1rem;
}

#bio-data ul li {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 130%;
}

#bio-data ul strong, #bio-data ul em {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}



/*************************************
    Portfolio And Education Section
*************************************/

#portfolio-and-education {
    background-color: #ecf5ff;
    padding: 10rem;
    margin-top: 10rem;
}

#portfolio {
    text-align: center;
    margin-top: 4rem;
}

#portfolio h3 {
    margin-bottom: 1rem;
}

#projects-underline {
    width: 5%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 2.5rem;
    margin-top: -1rem;
}

#portfolio p {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#portfolio a {
    font-size: 1.5rem;
}

#education {
    margin-top: 12rem;
}

#education h3 {
    margin-left: 15%;
    margin-bottom: 2rem;
}

#education-underline {
    width: 8%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 2.5rem;
    margin-top: -1rem;
    margin-left: 15%;
}

#education div p strong, #education div strong, #education div p {
    font-size: 1.5rem;
}

.edu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
}

.lasu {
    display: flex;
    flex-direction: column;
}



/*************************************
    Experience Section
*************************************/

#experience {
    margin-top: 15rem;
}

#experience h2 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

#experience-underline {
    width: 5%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 3.5rem;
    margin-top: -7rem;
}

#experience div p strong, #experience ul li span, #experience h3 {
    font-size: 1.5rem;
    color: black;
}

#experience h3, #experience ul li {
    margin-left: 15%;
    margin-top: 1.5rem;
}



/*************************************
    Gallery Section
*************************************/

#gallery {
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    margin: 0 auto;
    margin-top: 20rem;
}

#gallery h2 {
    margin-bottom: 12rem;
    text-align: center;
}

#gallery-underline {
    width: 5%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 10rem;
    margin-top: -11rem;
}

#gallery div img {
    width: 15%;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

#image1, #image2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}



/*************************************
    Contact Section
*************************************/

#contact {
    margin-left: 6.5%;
    margin-top: 15rem;
}

#contact h2 {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

#contact-underline {
    width: 5%;
    height: 0.2rem;
    margin: 0 auto;
    background-color: rgb(240, 80, 6);
    border: 0.2rem solid rgb(240, 80, 6);
    border-radius: 5rem;
    margin-bottom: 2.5rem;
    margin-top: -1rem;
    margin-left: 7%;
}

.contact strong, .contact span {
    font-size: 1.9rem;
}

.contact {
    margin-bottom: 1rem;
}

.contact strong, .contact a, .contact span {
    font-size: 1.4rem;
}


/*************************************
    Footer Section
*************************************/

footer {
    background-color: rgba(5, 5, 5, 0.829);
    margin-top: 10rem;
    padding-top: 2rem; 
    bottom: 0;
    width: 100%;
    height: 20vh;
}

.links-and-socials {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.socials {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.footer-links li a {
    transition: all 0.5s ease;
}

.footer-links li a:hover {
    background-color: rgb(240, 80, 6);
    color: #ffffff;
    border-radius: 2rem;
    font-size: 12px;
    padding: 1rem 2rem;
}

 .footer-links {
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-items: center;
} 

.footer-links li {
    list-style: none;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

footer p {
    text-align: center;
    color: rgb(240, 80, 6);
    margin-top: 5%;
}
