@media screen and (max-width: 1050px) {
    
    #cv-and-contact {
        width: 30%;
    }

}


@media screen and (max-width: 815px) {
    
    #cv-and-contact {
        width: 40%;
    }

    .projects a, .projects p {
        width: 45%;
    }

    .links-and-socials {
        flex-direction: column-reverse;
        align-items: center;
        height: 10vh;
    }

    .socials {
        width: 80%;
    }

    footer {
        height: 22vh;
    }
}

@media screen and (max-width: 615px) {
    
    #cv-and-contact {
        width: 50%;
        margin-top: 3rem;
    }

    
}




/*************************************
    Header Section
*************************************/

@media screen and (max-width: 600px) {

    h1 {
        font-size: 3rem;
        color: rgba(24, 3, 61, 0.829);
    }
    
    h2 {
        font-size: 2rem;
        color: rgba(24, 3, 61, 0.829);
    }
    
    h3 {
        font-size: 1.5rem;
        color: white;
    }
    
    p, a {
        font-size: 1rem;
    }

    #header-intro h3 {
        margin-top: 3rem;
    }

    #intro-text {
        padding-top: 0rem;
    }

    #objectives {
        margin-top: 1rem;
    }

    #cv-and-contact {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        margin-top: 4rem;
    }
    
    #about {
        margin: 0rem auto;
        margin-top: 5rem;
    }

    #about h3 {
        font-size: 2rem;
        margin-bottom: 0.7rem;
    }

    #about-me-underline {
        width: 10%;
        height: 0.3rem;
        margin: 0 auto;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 2.5rem;
    }
    
    #about p {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 8.7rem;
    }

    .bio-data {
        flex-direction: column;
    }
    
    
    #profile img {
        width: 50%;
        margin-top: 5rem;
        margin-left: 25%;
    }

    #bio-data {
        margin-top: 4rem;
        width: 100%;
    }
    
    #bio-data h3 {
        margin-bottom: 1rem;
    }

    #bio-data-underline {
        width: 15%;
        height: 0.3rem;
        margin: 0 auto;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 2.5rem;
    }
    
    #bio-data ul li {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    #bio-data ul strong, #bio-data ul em {
        font-size: 1.3rem;
    }

    #portfolio-and-education {
        padding: 6rem;
        margin-top: 4rem;
    }
    
    #portfolio h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    #projects-underline {
        width: 15%;
        height: 0.3rem;
        margin: 0 auto;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 2.5rem;
    }

    .projects {
        flex-direction: column;
    }

    .projects a {
        width: 100%;
        margin: 1rem auto;
    }

    .projects p {
        width: 100%;
    }

    .projects a img {
        height: 100%;
    }
    
    #education {
        margin-top: 8rem;
        width: 100%;
        margin: auto;
    }
    
    #education h3 {
        font-size: 2rem;
        margin-left: -4rem;
    }

    #portfolio h3, #education h3 {
        color: rgba(24, 3, 61, 0.829);
    }

    #education-underline {
        width: 40%;
        height: 0.3rem;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 2.5rem;
        margin-left: -4rem;
        margin-top: -1rem;
    }
    
    #education div p strong, #education div strong, #education div p {
        font-size: 1.3rem;
    }
    
    .edu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    /*************************************
        Experience Section
    *************************************/

    #experience h2 {
        margin-top: 10rem;
    }
    
    #experience-underline {
        width: 20%;
        height: 0.3rem;
        margin: 0 auto;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 3rem;
        margin-top: -7rem;
    }

    #work {
        flex-direction: column;
        margin-left: 1rem;
        width: 90%;
    }
    

    /*************************************
        Gallery Section
    *************************************/

    #gallery {
        display: flex;
        flex-direction: column;
        /* width: 70%; */
        margin: 0 auto;
        margin-top: 10rem;
    }
    
    #gallery h2 {
        margin-bottom: 5rem;
        text-align: center;
    }

    #gallery-underline {
        width: 30%;
        height: 0.3rem;
        margin: 0 auto;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 5rem;
        margin-top: -4rem;
    }
    
    #gallery div img {
        width: 45%;
        margin-bottom: 5rem;
    }
    
    #image1, #image2 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }


    /*************************************
        Contact Section
    *************************************/

    #contact {
        margin-left: 6.5%;
    }

    #contact h2 {
        margin-top: 5rem;
    }

    #contact h3, #send {
        color: black;
    }

    #contact-underline {
        width: 30%;
        height: 0.3rem;
        background-color: rgb(240, 80, 6);
        border: 0.3rem solid rgb(240, 80, 6);
        border-radius: 5rem;
        margin-bottom: 3rem;
        margin-top: -1rem;
        margin-left: 0;
    }

    .contact {
        margin-bottom: 1rem;
    }

    .contact a {
        font-size: 1.2rem;
    }


    /*************************************
        Footer Section
    *************************************/

    .footer-links a {
        font-size: 10px;
    }

    footer p {
        margin-top: 8%;
    }

}


@media screen and (max-width: 650px) {
    #about p {
        letter-spacing: 0.1rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 400px) {
    nav {
        min-height: 5vh;
    }

    #intro-text {
        padding-top: 1rem;
    }

    #bio-data ul strong {
        width: 50%;
    }

    #education {
        width: 90%;
    }

    #education h3 {
        margin-left: 0;
        font-size: 1.5rem;
    }

    #education-underline {
        border: 0;
        margin-left: 0;
    }

    #portfolio-and-education {
        padding: 0rem;
    }

    #education div p strong, #education div p, #education div strong {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    #portfolio {
        width: 80%;
    }

    footer p {
        margin-top: 14%;
    }

    input[type="text"], textarea {
        width: 60%;
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 290px) {
    #cv-and-contact a {
        padding: 0.5rem 1rem;
        margin-top: -1rem;
    }
}
